<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/alihm/IdeaProjects/BazaarApiCapstoneProject/src/test/java/tests/products_crud/US012BrowsAllProducts.java">
        <classes>
            <class name="tests.products_crud.US012BrowsAllProducts">
                <methods>
                    <include name="VerifySuccessfulRetrieveOfAllProducts"/>
                    <include name="VerifyFailGetProductsByInvalidToken"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/alihm/IdeaProjects/BazaarApiCapstoneProject/src/test/java/tests/products_crud/US013ViewProductDetails.java">
        <classes>
            <class name="tests.products_crud.US013ViewProductDetails">
                <methods>
                    <include name="VerifySuccessfulRetrieveOfSpecificProduct"/>
                    <include name="VerifyFailGetProductByInvalidId"/>
                    <include name="VerifyFailOnInvalidToken"/>
                    <include name="VerifyFailGetProductById_InvalidToken"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/alihm/IdeaProjects/BazaarApiCapstoneProject/src/test/java/tests/products_crud/US014CreateNewProduct.java">
        <classes>
            <class name="tests.products_crud.US014CreateNewProduct">
                <methods>
                    <include name="createNewProductWithAllDetails"/>
                    <include name="createNewProductWithRequiredFields"/>
                    <include name="createNewProductWithAllFieldsMissing"/>
                    <include name="createNewProductWithMissingRequiredData"/>
                    <include name="createNewProductWithTakenSku"/>
                    <include name="createNewProductWithNegativePrice"/>
                    <include name="createNewProductWithNegativeStock"/>
                    <include name="createNewProductWithNegativeDiscount"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/alihm/IdeaProjects/BazaarApiCapstoneProject/src/test/java/tests/products_crud/US015UpdateExistingProduct.java">
        <classes>
            <class name="tests.products_crud.US015UpdateExistingProduct">
                <methods>
                    <include name="VerifySuccessfulUpdateExistingProduct"/>
                    <include name="VerifyFailUpdateProductRequiredDetails"/>
                    <include name="VerifyFailUpdateProductImage"/>
                    <include name="VerifyFailUpdateProductAmounts"/>
                    <include name="VerifyFailUpdateProductDiscount"/>
                    <include name="VerifyFailUpdatingNonExistingProduct"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/alihm/IdeaProjects/BazaarApiCapstoneProject/src/test/java/tests/products_crud/US016DeleteProduct.java">
        <classes>
            <class name="tests.products_crud.US016DeleteProduct">
                <methods>
                    <include name="deleteProduct"/>
                    <include name="failDeleteProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>